<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <input type="hidden" th:field="${eventTag.event}">
        <th:block th:each="tag: ${tags}">
            <div class="form-check">
                <input class="form-check-input" th:id="'tag' + ${tag.id}" type="checkbox" name="tag" th:field="${tag}">
                <label th:for="'tag' + ${tag.id}" th:text="${tag.displayName}"></label>
            </div>
        </th:block>
    </div>

    <button class="btn btn-primary" type="submit">Add Tag</button>
</form>

</body>
</html>