<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

    <header th:replace="fragments :: header"></header>

    <form method="post">
        <div class="form-group">
            <label>Name
                <input th:field="${event.name}" class="form-control">
            </label>
            <p class="alert alert-danger col-3" th:if="${hasErrors}" th:errors="${event.name}"></p>
        </div>
        <div class="form-group">
            <label>Description
                <input th:field="${event.eventDetails.description}" class="form-control">
            </label>
            <p class="alert alert-danger col-3" th:if="${hasErrors}" th:errors="${event.eventDetails.description}"></p>
        </div>
        <div class="form-group">
            <label>Contact Email
                <input th:field="${event.eventDetails.contactEmail}" class="form-control">
            </label>
            <p class="alert alert-danger col-3" th:if="${hasErrors}" th:errors="${event.eventDetails.contactEmail}"></p>
        </div>
        <div class="form-group">
            <label>Event Category
                <select th:field="${event.eventCategory}" class="form-select">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </label>
            <p class="alert alert-danger col-3" th:if="${hasErrors}" th:errors="${event.eventCategory}"></p>
        </div>
        <div class="form-group">
            <div>Add Tags</div>
            <th:block th:each="tag: ${tags}">
                    <input th:field="${event.tags}" class="form-check-input" th:id="'tag' + ${tag.id}" type="checkbox" name="tag" th:value="${tag.id}">
                    <label th:for="'tag' + ${tag.id}" th:text="${tag.displayName}"></label>
            </th:block>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success">
        </div>
    </form>

</body>
</html>