<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

    <header th:replace="fragments :: header"></header>

    <form method="post">

        <th:block th:each="event : ${events}">
            <div class="form-check">
                <label class="form-check-label" th:for="${event.id}" th:text="${event.name}"></label>
                <input th:id="${event.id}" type="checkbox" name="eventIds" th:value="${event.id}" class="form-check-input">
            </div>
        </th:block>


        <button type="submit" class="btn btn-danger">Delete</button>
    </form>

</body>
</html>