<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${tag.name}" class="form-control">
        </label>
        <p class="alert alert-danger col-3" th:if="${hasErrors}" th:errors="${tag.name}"></p>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>

</body>
</html>